#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    zoom: 1;
}

#footer {
    background-color: #2f2f2f;
    height: 200px;
}

.div_search{
    background-color: #2f2f2f;
}

.div_search .container-fluid{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.div_login{
    background-color: #2f2f2f;
}

.div_login .container-fluid{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.logo_home {
    margin-top: 1%;
}

.top-line {
    border-top: 5px #1F4BEA solid;
    padding-bottom: 1%;
}

.navbar_search {
    margin: 0 auto;
    float: right;
    position: relative;
}

.search_icon {
    width: 64px;
    height: 64px;
    background-image: url(../images/search.png);
}

.icon-search:hover{
    
}

.close_icon {
    width: 24px;
    height: 23.5px;
    float: right;
    position: relative;
    background-image: url(../images/close.png);
}

.bg-1 {
    zoom: 1;
    background-size: cover;
    background-image: url(images/wal.jpg);
    background-position: center;
    padding-bottom: 10%;
}