#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
    zoom: 1;
}

#footer {
    background-color: #2f2f2f;
    height: 200px;
}

.top-line {
    border-top: 5px #08c solid;
    padding-bottom: 5%;
}
