html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas, #map_canvas {
    height: 100%;
}

@media print {
    html, body {
        height: auto;
    }

    #map-canvas, #map_canvas {
        height: 650px;
    }
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

.labels {
    width: 100px;
    color: #003399;
    font-size: 10px;
    font-weight: bold;
    font-variant: ruby;
}

.bg-1 {
    zoom: 1;
    background-size: cover;
    background-image: url(images/wal.jpg);
    background-position: center;
    padding-bottom: 10%;
}


