#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -220px;
    zoom: 1;
    background-size: cover;
    background-image: url(images/wal.jpg);
    background-position: center;
}

#footer {
    height: 220px;
}